[Unit]
Description=Node-RED is a tool for wiring together hardware devices, APIs and online services.
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/node-red -v --settings /efs/nodeRed/.node-red/Node-Red/settings.js
WorkingDirectory=/efs/nodeRed/.node-red/Node-Red
User=node-red
Group=root
Nice=10
SyslogIdentifier=Node-RED
StandardOutput=syslog
Restart=on-failure
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
